{% extends 'base.html' %}
{% block title %}
 Blogs
{% endblock %}
{% block main %}

<h1 class="m-5">Blog with id {{blog.id}}</h1>


<div class="container m-5 border">
<h2>Title: {{blog.title}}</h2>
<h3>Body: {{blog.body}}</h3><br>
<h4>Creator name: {{ blog.creator.name}}</h4>
<h4>Creator email: {{ blog.creator.email}}</h4>
<h4>Other blogs: </h4>
{% for el in blog.creator.blogs %}
    <h5>Title: {{ el.title }}</h5>

{%  endfor %}
<!-- <form class="btn btn-danger" method="get" action="/blog/{{blog.id}}/delete">    
    <input type="submit" value="DELETE">
</form>
<form class="btn btn-danger" method="post" action="/blog/{{blog.id}}/update">    
    <input type="submit" value="UPDATE">
</form> -->
</div>

{% endblock %}